// ========================================
// BORDER RADIUS 
// ========================================

@mixin border-radius($radius, $side: all) {
  $radius: unquote($radius);
  @if $side == 'top' {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-topright: $radius;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  @elseif $side == 'left' {
    -webkit-border-top-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  @elseif $side == 'right' {
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-bottomright: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  @elseif $side == 'top' {
    -webkit-border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  @elseif $side == 'top-left' {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
  }
  @elseif $side == 'top-right' {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    border-top-right-radius: $radius;
  }
  @elseif $side == 'bottom-left' {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
  }
  @elseif $side == 'bottom-right' {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
  }
  @elseif $side == 'all-but-top-left' {
    -webkit-border-radius: $radius;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: $radius;
    -moz-border-radius-topleft: 0;
    border-radius: $radius;
    border-top-left-radius: 0;
  }
  @elseif $side == 'all-but-top-right' {
    -webkit-border-radius: $radius;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: $radius;
    -moz-border-radius-topright: 0;
    border-radius: $radius;
    border-top-right-radius: 0;
  }
  @elseif $side == 'all-but-bottom-left' {
    -webkit-border-radius: $radius;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: $radius;
    -moz-border-radius-bottomleft: 0;
    border-radius: $radius;
    border-bottom-left-radius: 0;
  }
  @elseif $side == 'all-but-bottom-right' {
    -webkit-border-radius: $radius;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: $radius;
    -moz-border-radius-bottomright: 0;
    border-radius: $radius;
    border-bottom-right-radius: 0;
  }
  @elseif $side == 'all' {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  @else {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
}